@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  
}
body{
  background-color:#24252A;
  margin: 10px;
  border: #2abb2a solid;
  border-bottom:none ;
  place-items: center;
  
}

.main{
  color: aliceblue;
  padding:  5%;
  margin: auto;
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: calc(100vh);
}

.main .text{
  width: 60%;
  line-height: 1.6;
  letter-spacing: 1px;
  vertical-align: middle;
  padding-top: 10%;
  text-shadow:10px 10px 12px black;
}
.hello{
  font-size: xx-large;
  
}
.first{
  color: #2abb2a;
  font-weight: bolder;
  font-size: 40px;
  text-shadow:10px 10px 12px black;
}
.first2{
  color: #24252A;
  font-weight: bolder;
  font-size: 40px;
}
.myName{
  color: #2abb2a;
}
.main img{
  width: 30%;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #2abb2a;

}

.warpper .button {
  display: inline-block;
  height: 60px;
  width:60px;
  margin: 0 5px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition:all 0.3s ease-out ;
}
.warpper .button .icon{
  display: inline-block;
  height: 60px;
  width:60px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  text-align: center;
}
.warpper .button:hover{
  width: 200px;
}

.warpper .button:nth-child(1):hover span {
  color: #4267b2;
}
.warpper .button:nth-child(3):hover span {
  color: #1DA1F2;
}
.warpper .button:nth-child(2):hover span {
  color: #E1306c;
}
.warpper .button:nth-child(4):hover span {
  color: #333;
}
.warpper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.Project{
  color: aliceblue;
  height: calc(100vh);
  padding:  0 5%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  
}

.skili .item{
  list-style: none;
  width: 50%;
  padding-top:20px ;
  margin: auto;
  text-shadow:10px 10px 12px black;
  
}
.divSkills{
  padding-top: 10%;
}
.item h2{
  text-align: center;
}
.item p{
  color: aliceblue;
  text-align: center;
}

.Education{
  color: aliceblue;
  height: calc(100vh);
  padding:  0 5%;
  margin: auto;
  margin-bottom:5% ;
  font-family: 'Roboto', sans-serif;
}

.projContent{
  padding-top: 5%;
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}
.pr1{
  place-items: center;
  width: 20%;
  height: 40%;
  border-radius: 10px;
  background-position: center center;
  text-align: center;
  
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  transition: all 0.3s ease-out;

}
.pr1 a p{
  text-shadow:10px 10px 12px black;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 30%;
}
.pr1 a p:hover{
  color: #2abb2a;
}
.pr1:hover{
  width: 15%;
  height: 35%;
  margin: 5px;
  border-radius: 10px;
  background-position: center center;
  transition: all 0.3s ease-out;
}